@inherits UmbracoViewPage<Homepage>
@{
	Layout = null;
}

<table>
    <tbody>
        @foreach (var day in Model.BusinessHours)
        {
            <tr>
                <td>@day.DayOfTheWeek</td>
                @if (day.IsOpen)
                {
                    <td>
                        @foreach(var hours in day.HoursOfBusiness)
                        {
                        @(string.Format("{0} - {1}", hours.OpensAt, hours.ClosesAt))<br />
                        }
                    </td>
                   
                }
                else
                {
                    <td>
                        Closed
                    </td>
                }
               
            </tr>
        }
    </tbody>
</table>
<table>
    <tbody>
        @foreach (var day in Model.SpecialBusinessHours)
        {
            <tr>
                <td>@day.Date.ToShortDateString()</td>
                @if (day.IsOpen)
                {
                    <td>
                        @foreach (var hours in day.HoursOfBusiness)
                        {
                            @(string.Format("{0} - {1}", hours.OpensAt, hours.ClosesAt))<br />
                        }
                    </td>

                }
                else
                {
                    <td>
                        Closed
                    </td>
                }

            </tr>
        }
    </tbody>
</table>